.image {
    cursor: pointer;
    border-radius: 5%;
}

.title {
    padding-top: 2%;
    text-align: center;
}

@media all and (max-width:600px) {
    .title {
        font-size: 1.6rem;

    }
}

@media all and (max-width:1200px) {
    .title {
        font-size: 1.6em;

    }
}